@import url("fonts.css");

@import url("reset.css");


body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #343434;
  background-color: #fff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: clip;
}

.wrapper .page {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Відступ між секціями */

[class*="--margin"] {
  margin-bottom: 64px;
}

.header {
  padding-top: 16px;
  padding-bottom: 9px;
}

.header__container {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* gap: 20px; */
}

.header__inner {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 154px;
}

.header__nav {
  flex-basis: 301px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-right: 79px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 64px;
  row-gap: 10px;
}

.header__link {
  font-family: "Open Sans";
  position: relative;
  line-height: 1.375;
  /* 22/16 */
}

/* Прибрали hover */

/* .header__link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 1px;
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: right;
  transition: background-color 0.3s, transform 0.3s;
} */

.header__link:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #343434;
  border-radius: 5px;
}

/* @media (any-hover: hover) {
  .header__link:hover.header__link::after {
    background-color: #343434;
    transform: scaleX(1);
    transform-origin: left;
  }
} */

.header__link:active {
  color: #5D5D5D;
}

.logo {
  /* max-width: 173px; */
  width: 173px;
  margin-right: 265px;
}

.logo img {
  /* width: 100%; */
}

.logo--margin {
  margin-bottom: 24px;
}

.header__action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 21px;
  row-gap: 10px;
}

.action__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 21px;
  row-gap: 10px;
}

.action__item {
  flex-basis: 25px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 24px;
}

.action__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 24px; */
}

/* .action__link:hover {
  border-radius: 50%;
  align-items: center;
  width: 25px;
  height: 24px;
  background-color: #D2DADA;
} */

.action__link::after {
  position: absolute;
  content: "";
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  transition: background-color 0.3s;
  z-index: -1;
}

.action__images {
  /* width: 100%; */
}

.action__link:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #343434;
  border-radius: 5px;
}

@media (any-hover: hover) {
  .action__link:hover.action__link::after {
    background-color: #d2dada;
  }
}

/* Прибрали іконку мови  */

/* .action__lang {}

.lang {
  cursor: pointer;
}

.lang__span {
  color: #5D5D5D;
  line-height: 1.375;
  /* 22/16 */
/* transition: color 0.3s; */
/* } */

/*@media (any-hover: hover) {
  .lang:hover .lang__span {
    color: #343434;
  }
} */

/* Секція hero */

.hero-section {
  padding-top: 98px;
  padding-bottom: 166px;
}

.hero-section__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .hero-section__text>* {
} */

.hero-section__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex-basis: 767px; */
  flex-grow: 0;
  flex-shrink: 1;
  /* height: calc(100vh - 223px); */
  max-width: 767px;
  margin-bottom: 34px;
}

.hero-section h1 {
  font-family: Jost;
  font-size: 64px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 4px;
}

.hero-section__text p {
  font-family: Jost;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.btn-shop {
  border-radius: 5px;
  background-color: #1E4646;
  padding: 13px 65px;
  transition: background-color 0.5s;
}

.btn-shop span {
  font-family: Jost;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  color: #FBFBFB;
  transition: color 0.3s;
}

/* .hero-section__text> *:last-child {
  margin-bottom: 0;
} */

.btn-shop:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #343434;
  border-radius: 5px;
}

@media (any-hover: hover) {
  .btn-shop:hover {
    background-color: #789090;
  }
}

.btn-shop:active {
  background-color: #FBFBFB;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
}

.btn-shop:active span {
  color: #343434;
}

.btn-shop:disabled {
  border: 1px solid #AEAEAE;
  background-color: #EDF1F1;
}

.btn-shop:disabled span {
  color: #AEAEAE;
}

.hero-section__image {
  position: absolute;
  /* left: 55%; */
  right: 150px;
  top: -99px;
  /* bottom: -53%; */
  max-width: 429px;
  z-index: -1;
  /* transform: translate(-50%, -50%); */
}

.hero-section__image img {
  /* width: 100%; */
}

/* Секція CHOOSE */

.choose {
  padding-bottom: 17px;
}

.section-title h2 {
  font-family: Jost;
  font-size: 48px;
  font-weight: 600;
  line-height: normal;
  color: #343434;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.section-title--left {
  text-align: left;
}

.section-title--our-products-margin {
  margin-bottom: 20px;
}

.choose__list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 15px;
}

.choose__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 387px;
  flex-grow: 0;
  flex-shrink: 1;
  /* justify-content: space-between; */
  padding: 140px 15px 0;
}

.choose__image {
  position: absolute;
  left: 50%;
  top: 0;
  max-width: 98px;
  transform: translateX(-50%);
}

.choose__image img {
  width: 100%;
}

.choose__text {
  text-align: center;
}

.choose__text h3 {
  font-family: Jost;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #343434;
  margin-bottom: 10px;
}

.choose__text p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: #343434;
}

/* Секція Novelties */

.novelties--title {
  margin-bottom: 32px;
}

.product-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 64px;
  row-gap: 30px;
}

.product-card--margin {
  margin: 0 53px;
}

.product-card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 335px;
  flex-grow: 0;
  flex-shrink: 1;
  border-radius: 5px;
  border: 1px solid #efefef;
  padding: 27px 36px;
}

.product-card__image {
  flex-basis: 239px;
  /* flex-grow: 1; */
  flex-shrink: 0;
  max-width: 140px;
  margin-bottom: 24px;
}

.product-card__image--size {
  flex-basis: 215px;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 130px;
}

.product-card__image img {
  /* width: 100%; */
}

.product-card__text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* flex-basis: 129px; */
  flex-grow: 1;
  text-align: center;
  max-width: 183px;
  margin-bottom: 8px;
}

.text-product-card {
  font-family: Jost;
  font-weight: 500;
}

.text-product-card span {
  display: inline-block;
  font-family: Jost;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  flex-grow: 1;
  margin-bottom: 3px;
  /*Не працює з рядковим елементом, додам йому inline-block? але із-за того, що батьківський елемент flex все працює*/
}

.text-product-card h4 {
  /* flex-basis: 70px; */
  font-size: 24px;
  line-height: normal;
  color: #1E4646;
}

.text-product-card~span {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;

}

.btn-basket {
  border-radius: 5px;
  /* box-shadow: 0 0 0 1px #1e4646; */
  background-color: #1E4646;
  padding: 13px 25px;
  transition: background-color 0.5s, box-shadow 0.3s;
}

.btn-basket span {
  font-family: Jost;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  color: #FBFBFB;
  text-transform: uppercase;
}

.btn-basket:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #343434;
  border-radius: 5px;
}

@media (any-hover: hover) {
  .btn-basket:hover {
    background-color: #789090;
    /* box-shadow: none; */
  }
}

.btn-basket:active {
  background-color: #FBFBFB;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
}

.btn-basket:active span {
  color: #343434;
  box-shadow: 0px 4px 10px 0px #0000001a;
}

.btn-basket:disabled {
  border: 1px solid #AEAEAE;
  background-color: #EDF1F1;
}

.btn-basket:disabled span {
  color: #AEAEAE;
} 

/* Секція mission */

.mission__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 50px;
}

.mission__block-text {
  flex-basis: 481px;
  flex-grow: 0;
  flex-shrink: 1;
}

.mission__text {
  margin-bottom: 32px;
}

.mission__text p {
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #343434;
}

.mission__image {
  max-width: 500px;
}

.mission__image img {
  width: 100%;
}

/* Секція footer */

.footer {
  border-top: 1px solid #D6D6D6;
  padding: 32px 0;
}

.footer__container {}

.logo {}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
}

.footer__menu {
  display: flex;
  /* justify-content: space-between; */
  flex-basis: 598px;
  flex-grow: 0;
  flex-shrink: 1;
  column-gap: 114px;
}

.menu-footer {}

.menu-footer__shop h4,
.menu-footer__contacts h4,
.menu-footer__about-us h4 {
  font-family: Jost;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #343434;
}

.menu-footer__contacts {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 6px;
}

.menu-footer__contacts a,
.menu-footer__about-us span {
  line-height: normal;
}

.menu-footer__about-us {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.footer-action {
  display: flex;
  align-self: flex-end;
  column-gap: 37px;
}

.footer-action__instagram {
  align-self: center;
  max-width: 42px;
}

.footer-action__instagram img {
  width: 100%;
}

.footer-action__facebook {
  max-width: 48px;
}

.footer-action__facebook img {
  width: 100%;
}