@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost/Jost-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost/Jost-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost/Jost-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: "Jost";
	src: url("../fonts/Jost/Jost-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: "Open-Sans";
	src: url("../fonts/Open_Sans/OpenSans-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: "Open-Sans";
	src: url("../fonts/Open_Sans/OpenSans-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	display: swap;
}

@font-face {
	font-family: "Open-Sans";
	src: url("../fonts/Open_Sans/OpenSans-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	display: swap;
}
